{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block tilte %}{% if form.instance.pk %}Update book{% else %}Add book{% endif %}{% endblock %}

{% block breadcrumbs %}
    {% if form.instance.pk %}
        {{ block.super }}
        {% breadcrumb "Book info" "book" book.slug book.pk %}
        {% breadcrumb "Update book" "book-update" book.pk %}

    {% else %}
        {{ block.super }}
        {% breadcrumb "Add book" "book-add" %}


    {% endif %}
{% endblock breadcrumbs %}


{% block container %}

  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save book</button>
  </form>

{% endblock container %}